body {
	background-color: #3535f5;

	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease-in;
	-moz-animation-iteration-count: 1;
}
.min-space { margin-top: 25px;
}
.space { margin-top: 50px;
}
div.main {
    width: 850px;
    padding: 15px;
    background-color: rgb(44, 44, 212, 0.6);
    border: 4px solid rgb(255, 255, 255);
  }
#container {
	width: 540px;
	padding-left: 150px;
	padding-right: 150px;
	margin-top: auto;
	overflow: hidden;
}
IMG.YEP {
	height: 128px;
	width: 540px;
	margin-top: 30px;
	overflow: hidden;

	-webkit-animation-name: reset, fade-in, slide-in;
	-webkit-animation-duration: .4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-in;
	-moz-animation-duration: 0.4s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
	
}
.BLACK-FADE:hover {
	background-color:#060022;
	transition: 0.3s;
}
IMG.NOPE {
	height: 128px;
	width: 540px;
	margin-top: 0px;
	overflow: hidden;
}
IMG.FADE0 {
	-webkit-animation-name: reset, fade-in, slide-out;
	-webkit-animation-duration: .6s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-out;
	-moz-animation-duration: .6s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
}
IMG.FADE1 {
	-webkit-animation-name: reset, fade-in, slide-in;
	-webkit-animation-duration: .7s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-in;
	-moz-animation-duration: .7s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
}
IMG.FADE2 {
	-webkit-animation-name: reset, fade-in, slide-out;
	-webkit-animation-duration: .9s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-out;
	-moz-animation-duration: .9s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
}
IMG.FADE3 {
	-webkit-animation-name: reset, fade-in, slide-in;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-in;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
}
IMG.FADE4 {
	-webkit-animation-name: reset, fade-in, slide-out;
	-webkit-animation-duration: 1.1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in, slide-out;
	-moz-animation-duration: 1.1s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;
}
.LOGO {
	height: 205px;
	width: 864px;
	overflow: hidden;
}
#mynameis {
	float: right;
	position:fixed;
	bottom: 0;
	font: 10pt calibri;
	color: #dbdbdb; 
	padding: 5px;
	overflow: hidden;

	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-iteration-count: 1;

	-moz-animation-name: reset, fade-in;
	-moz-animation-duration: 2.5s;
	-moz-animation-timing-function: ease-in;
	-moz-animation-iteration-count: 1;

}
.resize {
	width: 200px;
	height : auto;
	padding: 5px;
	background-repeat: repeat-x, repeat-y;
	background-size: 100% 100%;
}

.resize {
	width: auto;
	height : 200px;
	border-style: solid;
	border-width: 1px;
	border-color: #dbdbdb;

}
}
@font-face {
    font-family: HEADLINE;
	src: url(/skeleton/HEAD.TTF);
	
}
h1 {
	font: 15pt calibri;
	color: #fafafa; 
}
h2 {
	font: 65pt calibri;
	color: #fafafa; 
}
p {
	word-spacing: 120%;
  }
img {
	border-style: none;

}
	a:link { text-decoration: none; color: #FFFFFF; font-weight: bold; }
	a:visited { text-decoration: none; color: #FFFFFF; font-weight: bold; }
	a:hover { text-decoration: none; color: #67808D; font-weight:bold;}
	a:active { text-decoration: none; color: #FFFFFF; font-weight: bold; }
}



@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-webkit-keyframes fade-in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

/* MOZILLA */

@-moz-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-moz-keyframes fade-in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
::-webkit-scrollbar { 
    display: none; 
}